<div class="filter-header">
    <h2>FILTERS</h2>
</div>

<form class="form-body">
  <div *ngFor="let filter of filters">
    <div *ngIf="filter.type === 'text'" class="form-group">
      <input type="{{filter.type}}" class="form-control" id="{{filter.title}}" name="{{filter.title}}" placeholder="Enter {{filter.title}}">
    </div>
    <div *ngIf="filter.type === 'dropdown'" class="form-group">
      <select name="{{filter.title}}" id="{{filter.title}}">
        <option *ngFor="let country of dropdownCountries" value="{{country.Alpha3Code}}">{{country.Alpha3Code}}</option>
      </select>
    </div>
    <div *ngIf="filter.type === 'date'" class="input-group date-picker">
      <input class="form-control" placeholder="yyyy-mm-dd" name="{{filter.title}}" ngbDatepicker #d="ngbDatepicker">
      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
    </div>
  </div>
  <button type="submit" class="btn btn-primary submit-btn">
     <fa-icon [icon]="faFilterIcon"></fa-icon>
     <span>Filter</span>
    </button>
</form>