.table-header-container {
    background: white;
    padding: 20px 20px 5px 20px;
    margin-bottom: 5px;
}

.col-md-10 {
    display: flex;
    justify-content: end;
    padding-right: 20px;
}

.spacer {
    margin: 0 20px;
}